<header>
  <img src='/assets/Images/MRLogo.png'>
  <h2>Welcome To Maria Rezaei Salon</h2> <button [routerLink]='["/login"]' [routerLinkActive]='["link-active"]' class="btn btn-secondary btn-block">login</button>
</header>

<section>
  <nav>
    <ul>
      <li><a href="#">Haircut & Shampoo</a></li>
      <li><a href="#">Full Highlights</a></li>
      <li><a href="#">Semi-Permanent</a></li>
      <li><a href="#">Partial Highlights</a></li>
    </ul>
  </nav>
  
  <article>
    <h2>COMING SOON ...</h2>
    <img src='/assets/Images/profile1.png'>
    <router-outlet></router-outlet>
  </article>
</section>

<footer>
  <p>1546 Yonge, Toronto, M2K 3E1</p>
  <p>(416)111-2233</p>
</footer>